<div class="comment-section">
    <div class="comment-conatiner">
      
        <!-- <p-avatar [image]="currentUser?.picture" styleClass="mr-2 items" shape="circle" size="xlarge" *ngIf="isAuthenticated"></p-avatar> -->
        <div class="user-avatar-wrapper" *ngIf="isAuthenticated">
            <img [src]="currentUser.picture" alt="User Avatar" class="user-avatar" (error)="onAvatarError()"
                *ngIf="!avatarError" />
            <div class="user-avatar-fallback" *ngIf="avatarError">
                {{ getUserInitials(currentUser.displayName) }}
            </div>
        </div>
        <span class="user-circle" *ngIf="!isAuthenticated" >
            <i class="pi pi-user" style="font-size: 2rem; color:#333333"></i>
        </span>
        
        
            <div class="comment-area">
                <form [formGroup]="commentForm">
                <textarea id="float-input" rows="5" cols="30" pInputTextarea #comment placeholder="Add a comment..."
                    formControlName="comment"></textarea>
                </form>
            </div>
    </div>
    <div>
    </div>
    <div class="comment-button-container">
        <p-button [rounded]="true" [outlined]="true" [text]="true" size="large" label="Cancel" (click)="cancelComment()"
            styleClass="items"></p-button>
        <p-button [rounded]="true" size="large" label="Comment" (click)="addComment()"
            styleClass="comment-button" [disabled]="!commentForm.get('comment')?.value"></p-button>
    </div>
    <h2 *ngIf="numberOfComments == 0" style="display: flex; justify-content: center;">{{'No Comments'}}</h2>
    <h2 *ngIf="numberOfComments > 0">{{numberOfComments == 1 ? ' 1 Comment' :  numberOfComments | indianFormatViewCount:' Comments'  }}</h2>
    <hr *ngIf="numberOfComments > 0">
    <div class="show-comments-container">
        <app-show-comments *ngFor="let comment of comments" [comment]="comment"></app-show-comments>
    </div>
   
    
    
<div class="load-button-container" *ngIf="showLoadCommentButton">
    <p-button label="Load Comments"  [outlined]="true" (click)="loadComments()" *ngIf="!commentsLoadingfromApi"></p-button>
    <app-simple-vertical-animation></app-simple-vertical-animation>
</div>

</div>