<div class="comment-section">
    <div class="comment-conatiner">
        @if(isAuthenticated){
            <p-avatar [image]="currentUser.picture" styleClass="mr-2 items" shape="circle" size="xlarge"></p-avatar>
        }@else {
            <span class="user-circle">
                <i class="pi pi-user" style="font-size: 2rem; color:#333333"></i>
            </span>
            <!-- <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}" shape="circle"></p-avatar> -->
            <!-- <p-avatar icon="pi pi-user" styleClass="mr-2 items" shape="circle" size="xlarge"></p-avatar> -->
        }
        
        
        <!-- <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Add a comment..."></textarea>
        </mat-form-field> -->
       
            <div class="comment-area">
                <form [formGroup]="commentForm">
                <textarea id="float-input" rows="5" cols="30" pInputTextarea #comment placeholder="Add a comment..."
                    formControlName="comment"></textarea>
                </form>
                <!-- <label for="float-input">Summary</label> -->
            </div>
        
    </div>
    <div>
        <!-- <span class="p-float-label">
            
        </span> -->
    </div>
    <div class="comment-button-container">
        <p-button [rounded]="true" [outlined]="true" [text]="true" size="large" label="Cancel" (click)="cancelComment()"
            styleClass="items"></p-button>
        <p-button [rounded]="true" size="large" label="Comment" (click)="addComment()"
            styleClass="comment-button" [disabled]="!commentForm.get('comment')?.value"></p-button>
    </div>

    <h1>{{numberOfComments}} Comments</h1>
    <app-show-comments *ngFor="let comment of comments" [comment]="comment"></app-show-comments>
    <!-- <app-show-comments *ngFor="let num of [1,2,3,4,5,6,7,8]"></app-show-comments> -->

</div>