.shorts-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 28vw;
    gap: 1em;
    scroll-snap-type: y mandatory;
    margin-top: 2em;
    overflow: auto;
}

.vid-shorts{
    min-height: 75vh;
    min-width: 28vw;
    scroll-snap-align: start;
}

.shorts-container::-webkit-scrollbar{
    display: none;
}

/*Modifying the primeng styles*/

:host::ng-deep .p-button.p-button-lg .p-button-icon{
    font-size: 1.5em;
}

:host::ng-deep .p-button.p-button-icon-only.p-button-rounded{
    height: 3.75em;
}

:host::ng-deep .p-button.p-button-icon-only{
    width: 3.75em;
}

:host::ng-deep .p-component{
    font-size: 1.4rem;
}

:host::ng-deep .p-toast .p-toast-message.p-toast-message-info{
    background-color: white;
    /* color: #8b5cf6; */
}

:host::ng-deep .p-toast {
    width: 50rem;
    /* color: #8b5cf6; */
}