

.page{
    display: flex;
    justify-content: space-between;
}

.edit-form{
    width: 47%;
    padding-left: 1.7rem;
}

.preview-player{
    width: 50%;
    height: 70vh;
   
}

:host::ng-deep .p-component{
    font-size: 1.5rem;
}

.input-text-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-label{
    font-size: 1.25em;
    margin-bottom: 5px;
}

.input-box{
    height: 40px;
    margin-bottom: 5px;
}

.input-info{
    font-size: 11px;
}


/*Thumbnail Element classes*/

.thumbnail{
    margin-bottom: 10px;
}

:host ::ng-deep .p-fileupload-buttonbar{
    display: flex;
    justify-content: center;
    border: 1px solid #e5e7eb;
}


:host ::ng-deep .p-fileupload-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    border: 2px solid #e5e7eb;
}

:host ::ng-deep .p-toast-message-content{
    background: white;
}


:host ::ng-deep .p-fileupload-filename{
    display: none;
}

:host ::ng-deep .remove-cancel-button{
    display: none;
} 

/*Drop down class*/

.p-element.p-dropdown-label.p-inputtext.p-placeholder{
    margin: auto 10px;
    font-size: 18px;
}

:host ::ng-deep .p-element.p-inputwrapper.p-chips-clearable{
    width: 100%;
    height: 45px;
}

.class1{
    width: 50%;
    height: 40px;
}

:host ::ng-deep .class1.p-dropdown.p-component.p-inputwrapper {
    width: 100%;
    height: 40px;
}

:host ::ng-deep .class1.p-dropdown.p-component.p-inputwrapper span{
    margin: auto 10px;
    font-size: 14px; 
}

/*Video Tags class*/

:host ::ng-deep .p-inputtext.p-chips-multiple-container{
    width: 100%;
    height: 45px;
}

:host ::ng-deep .p-chips.p-component.p-input-wrapper {
    width: 100%;
}

:host ::ng-deep .p-chips-input-token.p-chips-clearable input{
 font-size: 14px;
}

:host ::ng-deep .p-chips-token-label{
    font-size: 14px;
}

.preview-player{
    padding: 1.7rem;
}

.submit-container{
    margin-top: 1.7rem;
    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep .p-button{
    width: 140px;
    height: 40px;
}

:host ::ng-deep .p-fileupload .p-fileupload-buttonbar {
    padding: 1rem;
}

:host ::ng-deep .p-fileupload .p-fileupload-content{
    padding: 1rem;
}

:host ::ng-deep .p-fileupload .p-fileupload-row > div {
    padding: 0 0;
    margin-right: 10px;
}

:host ::ng-deep .p-fileupload-row>div {
    width: auto;
}


/*Mobile devices*/
@media only screen and (min-width: 320px) and (max-width:480px){

    .page{
        flex-direction: column-reverse;
    }

    .edit-form{
        width: 100%;
        padding-left: 0;
    }

    .preview-player {
        width: 100%;
        height: 24em;
        margin: 1.5em auto;
        padding: 0;
    }

    :host ::ng-deep .p-button{
        width: auto;
    }


}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width:768px){

    .page{
        flex-direction: column-reverse;
    }

    .edit-form{
        width: 100%;
        padding-left: 0;
    }

    .preview-player {
        width: 100%;
        height: 24em;
        margin: 1.5em auto;
        padding: 0;
    }

    :host ::ng-deep .p-button{
        width: auto;
    }
}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width:1024px){

}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width:1200px){

}

/*Extra large screens, TV*/
@media only screen and (min-width: 1200px) {

}


