<div class="page">
    <div class="edit-form">


        <div class="card flex justify-content-center" formGroup="editVideoForm">
            <div class="flex flex-column gap-2">
                <label for="username">Username</label>
                <input pInputText id="username" aria-describedby="username-help" formControlName="title"/>
                <small id="username-help">Enter your username to reset your password.</small>
            </div>
        </div>
        <!--Edit Form-->
        <div class="form-container flex justify-content-center">
            <div class="flex flex-column gap-2">
                <label for="username">Username</label>
                <input pInputText id="username" aria-describedby="username-help" />
                <small id="username-help">Enter your username to reset your password.</small>
            </div>

            <span class="p-float-label">
                <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
                <label for="float-input">Summary</label>
            </span>
        </div>
        

        
    </div>
    <div class="preview-player"></div>
</div>
