.home-container{
    display: flex;
    margin-top: var(--mat-toolbar-standard-height);
}


.sidebar{
    position: fixed;
    height: 100vh;
    width: 175px;
    max-width: 200px;
    margin-top: 10px;
    background-color: white;
    z-index: 100;
}

.featured{
    position: relative;
    margin-left: var(--app-sidebar-width);
    margin-top: 10px;
    flex: 1;
    height: 100%;
}

.show-less-featured{
    margin-left: 60px;
}

.show-less {
    width:  50px ;
}


/*Mobile devices*/
@media only screen and (min-width: 320px) and (max-width:480px){

    .sidebar{
       display: none
    }
    .featured{
        margin-left: 0px;
    }

    .show-less-featured{
        margin-left: 0px;
    }

}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width:1024px){

}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width:1200px){

}

/*Extra large screens, TV*/
@media only screen and (min-width: 1200px) {

}