  .header-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .example-spacer {
    flex: 1 1 1;
  }

  .logo-brand-name{
    display: flex;
    align-items: center;
  }

  .app-brand-name{
    cursor: pointer;
    font-family: 'INTER VAR';
    font-weight: 500;
    font-size: 24px;
    margin-top: -6px;
  }


  .humburger-menu{
    padding: 0;
  }

  .icon-user-button{
    display: none;
  }

  .mobile-search-button{
    display: none;
  }


  :host::ng-deep .mat-mdc-icon-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  :host::ng-deep .mat-mdc-icon-button.mat-mdc-button-base  {
    padding:5px;
  }


.header{
  display: flex;
  justify-content: space-between;
}

.search-container{
  position: relative;
  width: 45%;
}



 input{
  width: 100%;
  height: 45px;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  padding-right: 50px;
  font-family: 'Inter';
  font-size: 1.5rem;
}


.search-container button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 20px;
    color: #673ab7;
    cursor: pointer;
    outline: 0;
}

:host::ng-deep .pi{
  font-size: 1.6rem;
}

/*Mobile devices*/
@media only screen and (min-width: 320px) and (max-width:480px){

  .app-brand-name{
    cursor: pointer;
    font-size: 15px;
    /* margin-right:  auto; */
  }

  .icon-user-button{
    display: block;
  }

  .bold-user-button{
    display: none;
  }

  .search-container{
    position: relative;
    width: 50%;
  }

  .mobile-search-button{
    display: block;
  }

  .search-container input{
    height: 35px;
    font-size: 1.2rem;
  }
  
  .search-container button{
    font-size: 1.4rem;
  }

  :host::ng-deep .mat-toolbar-row {
    padding: 0px;
  }

  :host::ng-deep .pi{
    font-size: 1.4rem;
  }

  :host::ng-deep .mat-mdc-icon-button.mat-mdc-button-base  {
    padding:11px;
  }

  .app-brand-name{
    margin-top: 0;
  }
}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width:1024px){

}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width:1200px){

}

/*Extra large screens, TV*/
@media only screen and (min-width: 1200px) {

}