.page{
    display: flex;
    flex-direction: column;
}

.stepper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.2rem auto;
}

.items{
    width: 10%;
}

.main-stepper{
    width: 80%;
}

.page .container{
    width: 95%;
    margin:0 auto
}

:host ::ng-deep .p-steps-title{
    font-size: 14px;
}

:host ::ng-deep .p-steps-number{
    font-size: 14px;
}