<!-- <p>shorts-vid-info works!</p> -->
<p-confirmDialog key="unsubscriberConfirmation"></p-confirmDialog>
<div class="container">
    <!-- <p-avatar [image]="video.userPicture" styleClass="mr-2 items" shape="circle" size="xlarge"></p-avatar> -->
    <div class="user-avatar-wrapper">
        <img [src]="video.userPicture" alt="User Avatar" class="user-avatar" (error)="onAvatarError()"
            *ngIf="!avatarError" />
        <div class="user-avatar-fallback" *ngIf="avatarError">
            {{ getUserInitials(video.userDisplayName) }}
        </div>
    </div>
    <span class="channal-name">{{video.userDisplayName}}</span>
    <span class="channal-name">{{video.channelSubscribersCount}}</span>
    <div class="subscribe-button">
        
        @if (!subscribed) {
        <p-button [rounded]="true"  size="small" label="Subscribe" (click)="subscribe()" styleClass="subscribe-button"></p-button>
        }
    </div>
</div>
<div class="video-desc">
    <div class="video-title" [title]="video.title">{{video.title}}</div>
</div>

