.container{
    display: flex;
    align-items: center;
}

.channal-name{
    font-size: 1.3em;
    margin: 0 10px;
}

.video-title{
    margin: 5px 5px;
    font-size: 1.35em;
    overflow: hidden;
    line-height: 1.3;
    height: 35px;
}

.subscribe-button{
    /* color: #FFF;
    background: transparent; */
    /* border: 1px solid; */
}

.unsubscribe-button{
    /* color: #FFF;
    background: transparent; */
    /* border: 1px solid; */
}

/* Avatar */
.user-avatar-wrapper {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.user-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.user-avatar-fallback {
    /* font-weight: bold; */
    font-family: var(--app-font-family);
    color: #333232;
    font-size: 1.6rem;
    text-transform: uppercase;
}