/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "primeicons/primeicons.css";

*,
*::before,
*::after{
    box-sizing: border-box;
}

/* *{
    margin: 0;
    padding: 0;
} */
/* *{
    font-family: 'Roboto', 'Arial', sans-serif;
} */

html{
    font-size: 10px;
    font-family: 'Roboto', 'Arial', sans-serif;
}

:root{
    --app-font-color: #0f0f0f;
    --app-channal-font-color: #606060;
    --app-font-family: "Roboto","Arial",sans-serif;
    --video-description-color: #131313;
    --app-second-color: #ddd6fe;
    --app-light-background: #efefef;
    --app-skeleton-color: #dedede;
    --mdc-icon-button-icon-size: 48px;
    --app-toolbar-standard-height:60px;
    --app-primary-color:#673ab7;
    --app-secondary-color:rgb(242 235 255);
    --mat-toolbar-standard-height: 64px;
    --app-sidebar-width:200px;
    --app-grid-items-per-row:3;
    --app-grid-item-max-width:340px;
    --app-grid-item-margin:16px;

}

.splitter{
    margin: 0px 6px;
    height: 4px;
    width: 4px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--app-channal-font-color);
}

:host::ng-deep .p-component{
    font-size: 1.6rem;
}

hr{
    color: var(--app-skeleton-color);
    opacity: 0.7;
}