<p-toast position="top-center" key="tc"></p-toast>

<div class="uploaded-user-info">
    <!--Channal logo and Name--> 
    <div class="channal-container">
        <p-avatar [image]="video?.userPicture" styleClass="mr-2 items" shape="circle" size="xlarge"></p-avatar>
        <div class="channal-name items">
             <!--Name and Subs count--> 
           <div class="name">{{video?.userDisplayName}}</div>
           <div class="subscribers-count">{{subscribersCount}}{{subscribersCount == 0 ||  subscribersCount == 1 ? ' subscriber' :' subscribers'}}</div>
        </div>
         <!--Subscribe button--> 
        <div class="subscribe-button">
        
            @if (!subscribed) {
            <p-button [rounded]="true" size="large" label="Subscribe" (click)="subscribe()" styleClass="items"></p-button>
            }
            @else{
            <p-button [rounded]="true" [outlined]="true" label="Subscribed" styleClass="items"
                (click)="unsubscribe()"></p-button>
            }
        </div>
    </div>
    <!--Like and share button-->
    <div class="likes-nd-share-container">
        <span class="channal-button like-share-button">
            <p-button icon="pi pi-thumbs-up" label="{{video?.likes}}"  size="large" severity="primary" (click)="likeVideo()" 
                [rounded]="true" styleClass="like-button"/>

            <p-button icon="pi pi-thumbs-down" [rounded]="true" [outlined]="true" (click)="dislikeVideo()"
                size="large" styleClass="dislike-button"/>
        </span>
        <span class="channal-button share-button">
            <!--Share button-->
            <p-button icon="pi pi-share-alt" label="Share" [rounded]="true" size="large" severity="primary"></p-button>
        </span>
    </div>
</div>
