<p-toast position="top-center" key="tc"></p-toast>
<p-toast />

<p-confirmDialog key="unsubscriberConfirmation"></p-confirmDialog>


<p-confirmDialog key="shareConfirmation">
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <p>{{ message.message }}</p> 
            <div> {{videoURL}} <p-button icon="pi pi-copy" (click)="copyURL()"></p-button> </div>
        </div>
    </ng-template>

</p-confirmDialog>

<div class="uploaded-user-info">
    <!--Channal logo and Name--> 
    <div class="channal-container">

        <div class="channel-logo-nd-name">
            <p-avatar [image]="video?.userPicture" styleClass="mr-2 items" shape="circle" size="xlarge"></p-avatar>
            <div class="channal-name items">
                 <!--Name and Subs count--> 
               <div class="name">{{video?.userDisplayName}}</div>
               <div class="subscribers-count" *ngIf="subscribersCount == 0">No Subscribers</div>
               <div class="subscribers-count" *ngIf="subscribersCount > 0">{{subscribersCount == 1 ? '1 subscriber' :subscribersCount | indianFormatViewCount:' Subscribers'}}</div>
            </div>
        </div>

       
         <!--Subscribe button--> 
        <div class="subscribe-button">
        
            @if (!subscribed) {
            <p-button [rounded]="true" size="large" label="Subscribe" (click)="subscribe()" styleClass="items"></p-button>
            }
            @else{
            <p-button [rounded]="true" [outlined]="true" label="Subscribed" styleClass="items"
                (click)="unsubscribeConfirmationPopup()"></p-button>
            }
        </div>
    </div>
    <!--Like and share button-->
    <div class="likes-nd-share-container">
        <span class="channal-button like-share-button">
            <p-button icon="pi pi-thumbs-up" label="{{video?.likes}}"  size="large" severity="primary" (click)="likeVideo()" 
                [rounded]="true" [outlined]="!isLikedVideo" styleClass="like-button"/>

            <p-button icon="pi pi-thumbs-down" [rounded]="true" [outlined]="!isDisLikedVideo" (click)="dislikeVideo()"
                size="large" styleClass="dislike-button"/>
        </span>
        <span class="channal-button share-button">
            <!--Share button-->
            <p-button icon="pi pi-share-alt" label="Share" [rounded]="true" size="large" severity="primary" (click)="shareVideoLink()"></p-button>
        </span>
    </div>

</div>
