<div class="video-panel">
    <div class="shorts-video-info-container">
        <div class="vid-shorts-player box">
            <app-shorts-player [url]="video.videoUrl" [autoplay]="playShorts"></app-shorts-player>
        </div>
        <div class="video-info-container overlay">
            <app-shorts-vid-info [video]="video"></app-shorts-vid-info>
        </div>
        <div class="engagement-panel">
            <div class="engage-comp">
               <p-button icon="pi pi-thumbs-up" size="large" [rounded]="true" severity="primary" (click)="likeVideo()" [text]="true" 
               styleClass="like-button" pTooltip="Likes" />
               <span class="info-text">{{video.likes}}{{video.likes == 0 ||  video.likes == 1 ? ' like' :' like'}}</span> 
            </div> 
       
            <div class="engage-comp">
                   <p-button icon="pi pi-thumbs-down"  [text]="true" [rounded]="true" size="large"
                   styleClass="dislike-button" pTooltip="DisLikes" />
                   <span class="info-text" >DisLike</span>
               </div>
       
               <div class="engage-comp">
                   
               <p-button icon="pi pi-comments"  [text]="true" [rounded]="true" size="large" severity="primary"  pTooltip="Comments"
               (click)="showComments()"></p-button>
               <span class="info-text" >Comments</span>
               </div>
       
               <div class="engage-comp">
                   <p-button icon="pi pi-align-left" [text]="true" [rounded]="true" size="large" severity="primary" (click)="op.toggle($event)"
                   pTooltip="Description"></p-button>
                   <span class="info-text" >Description</span>
               </div>
           </div>
    </div>



    
    
    <p-dialog [header]="video.title" [(visible)]="visible" [modal]="false" [style]="{ width: '45rem', height: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" position="right">
        <div class="comments">
            <div class="add-comment">
                <app-comment [video]="video" [currentUser]="currentUser"></app-comment>
            </div>
        </div>
    </p-dialog>
</div>

<p-overlayPanel #op>

    <ng-template pTemplate="content">
        <h3>{{video.title}}</h3>
        <hr>
        <div class="video-infos">
            <span>{{video.publishedAt | timeago}}</span> |
            <span>{{video.viewCount}}{{video.viewCount == 0 ||  video.viewCount == 1 ? ' view' :' views'}}</span> |
            <span>{{video.likes}}{{video.likes == 0 ||  video.likes == 1 ? ' like' :' like'}}</span>
        </div>
    </ng-template>

</p-overlayPanel>