.file-upload-ui{
    width: 80%;
    margin: 4em auto;
}


:host::ng-deep .p-component{
    font-size: 1.45rem;
    font-family: var(--app-font-family);
}


:host ::ng-deep .p-fileupload-buttonbar{
    display: flex;
    justify-content: center;
    border: 1px solid #e5e7eb;
}


:host ::ng-deep .p-fileupload-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    border: 2px solid #e5e7eb;
}


:host ::ng-deep .remove-cancel-button{
    display: none;
}

:host ::ng-deep .p-toast-message-content{
    background: white;
}

/*Mobile devices*/
@media only screen and (min-width: 320px) and (max-width:480px){

    .file-upload-ui{
        width: 100%;
        margin: 4em auto;
    }
}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width:768px){

    .file-upload-ui{
        width: 100%;
        margin: 4em auto;
    }
}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width:1024px){

}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width:1200px){

}

/*Extra large screens, TV*/
@media only screen and (min-width: 1200px) {

}