<!-- <p>shorts-vid-info works!</p> -->
<p-confirmDialog key="unsubscriberConfirmation"></p-confirmDialog>
<div class="container">
    <p-avatar [image]="video.userPicture" styleClass="mr-2 items" shape="circle" size="xlarge"></p-avatar>
    <span class="channal-name">{{video.userDisplayName}}</span>
    <div class="subscribe-button">
        
        @if (!subscribed) {
        <p-button [rounded]="true"  size="small" label="Subscribe" (click)="subscribe()" styleClass="subscribe-button"></p-button>
        }
        @else{
        <p-button [rounded]="true"  [outlined]="true" size="small" label="Subscribed" styleClass="unsubscribe-button"
            (click)="unsubscribeConfirmationPopup()"></p-button>
        }
    </div>
</div>
<div class="video-desc">
    <div class="video-title" [title]="video.title">{{video.title}}</div>
</div>

