/* .shorts-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 23vw;
    gap: 1em;
    scroll-snap-type: y mandatory;
    margin-top: 2em;
    overflow: auto;
}

.vid-shorts{
    min-height: 75vh;
    min-width: 23vw;
    scroll-snap-align: start;
} */

.shorts-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    /* Use full screen height for clean snapping */
    width: 23vw;
    /* Adjust width to your layout */
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

.vid-shorts {
    scroll-snap-align: start;
    flex: 0 0 100vh;
    /* Occupies full viewport height */
    width: 100%;
    position: relative;
}
  

.shorts-container::-webkit-scrollbar{
    display: none;
}

/*Modifying the primeng styles*/

:host::ng-deep .engagement-panel .p-button.p-button-lg .p-button-icon{
    font-size: 1.5em;
}

:host::ng-deep .engagement-panel .p-button.p-button-icon-only.p-button-rounded{
    height: 3.75em;
}

:host::ng-deep .engagement-panel .p-button.p-button-icon-only{
    width: 3.75em;
}

:host::ng-deep .p-component{
    font-size: 1.4rem;
}

:host::ng-deep .p-toast .p-toast-message.p-toast-message-info{
    background-color: white;
    /* color: #8b5cf6; */
}

:host::ng-deep .p-toast {
    width: 50rem;
    /* color: #8b5cf6; */
}

/*Mobile devices*/
@media only screen and (min-width: 320px) and (max-width:480px){

    .shorts-container{
        width: 100%;
        margin-top: 0;
    }

    :host::ng-deep .engagement-panel .p-button.p-button-outlined {
        color: #fff;
    }

    :host::ng-deep .engagement-panel .p-button.p-button-icon-only.p-button-rounded{
        height: 3.25em;
    }
    
    :host::ng-deep .engagement-panel  .p-button.p-button-icon-only{
        width: 3.25em;
    }

    :host::ng-deep .engagement-panel .p-button.p-button-lg .p-button-icon{
        font-size: 1.25em;
    }

    :host::ng-deep .p-component{
        font-size: 1.1rem;
    }
}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width:1024px){

}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width:1200px){

}

/*Extra large screens, TV*/
@media only screen and (min-width: 1200px) {

}