.p-element{
    margin-right: 10px;
    font-size: 1.6rem;
}

:host::ng-deep .video-topics .p-chip-text{
    font-size: 1.6rem;
}

.topics{
    margin-bottom: 10px;
}

.content{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
   grid-gap: 2em;
   cursor: pointer;
   padding: 1.6em 0;
}