.p-element{
    margin-right: 10px;
    font-size: 1.6rem;
}

:host::ng-deep .video-topics .p-chip-text{
    font-size: 1.6rem;
}

.topics{
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px;
    gap: 1.6rem
}