<p>
    
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h3 class="app-logo" (click)="navigateToHome()">ArunTube</h3>
            <span class="example-spacer"></span>
            
            @if (isAuthenticated) {
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account Info">
                <p-avatar [image]="(userData | async) ?.userData.picture" styleClass="mr-2 items" shape="circle" size="xlarge"></p-avatar>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>perm_identity</mat-icon>
                  <span>{{name}}</span>
                </button>
                <button mat-menu-item routerLink="studio" >
                  <mat-icon>video_call</mat-icon>
                  <span>Studio</span>
                </button>
                <button mat-menu-item (click)="logout()">
                  <mat-icon>logout</mat-icon>
                  <span>Logout</span>
                </button>
              </mat-menu>
            } @else {
              <button mat-raised-button (click)="login()">Login</button>
            }
          </mat-toolbar-row>
    </mat-toolbar>

    
    
    </p>
    