<p>
    
    <mat-toolbar color="primary">
        <mat-toolbar-row class="header">
            <h2 class="app-logo" (click)="navigateToHome()">AVK</h2>
            <!-- <span class="example-spacer"></span> -->

            <!--Not show the search bar inside studio i.e video upload page-->
            <div class="search-container" *ngIf="!hideSearchBar">
              <input type="text" #searchField placeholder="Search..." name="search">
              <button type="button" (click)="searchVideos(searchField.value)" (keydown.enter)="searchVideos(searchField.value)"><i class="pi pi-search"></i></button>
            </div>
            
            @if (isAuthenticated) {

              <div style="display: flex;">
                <button mat-icon-button aria-label="Studio icon button to upload a video" routerLink="studio/upload" *ngIf="!hideStudioButton"> 
                  <mat-icon>video_call</mat-icon>
                </button>
  
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account Info">
                  <img [src]="userPictureUrl" alt="Photo of a User">
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>perm_identity</mat-icon>
                    <span>{{name}}</span>
                  </button>
                  <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                  </button>
                </mat-menu>
              </div>
            } @else {
              <button mat-raised-button (click)="login()">Login</button>
            }
          </mat-toolbar-row>
    </mat-toolbar>

    
    
    </p>
    