<div  *ngIf="isAuthenticated">
    <div *ngIf="isDataAvailable" class="watched-video-container" infinite-scroll [infiniteScrollDistance]="1"
        (scrolled)="getWatchedVideos(false)">
        <div *ngFor=" let item of videosGroupedByDay | keyvalue:reverseKeyOrder">
            <h1> {{item.key}}</h1>
            <app-suggestion *ngFor="let video of item.value" [video]="video" [showDescription]="true"></app-suggestion>
            <hr>
        </div>
    </div>
</div>

<h1 *ngIf="!isAuthenticated">
    Please login to check your watched videos!!!!
</h1>
