.video-player-wrapper {
    /* max-width: 90%; */
    text-align: center;
    /* margin: 0 auto; */
    /* border-radius: 12px; */
}

/* video {
    max-width: 64rem;
    width: 100%;
    max-height: 30.875rem;
    height: 100%;
    margin: 1.25rem auto;
    padding: 1.051%;
    background-color: #666;
    border-radius: 12px;
  } */

  vg-player{
    border-radius: 12px;
    margin-bottom: 1em;
    font-size: 1.6rem;
  }

  :host::ng-deep vg-scrub-bar-current-time .background{
    background-color: var(--primary-400);
  }

 
  