
<div  *ngIf="isAuthenticated">
    <div *ngIf="isDataAvailable" class="liked-video-container" infinite-scroll [infiniteScrollDistance]="1"
        (scrolled)="getLikedVideos(false)">
        <h1>Liked Videos</h1>
        <div *ngFor=" let item of videosGroupedByDay | keyvalue:reverseKeyOrder">
            <h2> {{item.key}}</h2>
            <app-suggestion *ngFor="let video of item.value" [video]="video" [showDescription]="true"></app-suggestion>
            <hr>
        </div>
    </div>

    <div *ngIf="!videosGroupedByDay">
        <div class="not-subscribed-info-box">
            <app-unauth-ui
            materialIconName="thumb_up_off_alt"
            [infoTextTitle]="unAuthUIInfotitle"
            [infoTextDesc]="unAuthUIInfoDesc"
            [toHome]="true"></app-unauth-ui>
        </div>
    </div>
</div>

<h1 *ngIf="!isAuthenticated">
    <app-unauth-ui
    materialIconName="thumb_up_off_alt"
    [infoTextTitle]="unAuthUIInfotitle"
    [infoTextDesc]="unAuthUIInfoDesc"></app-unauth-ui>
</h1>
