<div class="suggestion-section" *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
    <div class="suggestion-thumbnail">
        <img src="../../../assets/Image1.jpg" alt="Image1">
    </div>
    <div class="video-and-channal-info">
        <div class="video-title">New Video</div>
        <div class="channal-name">Tomorrow starts today</div>
        <div class="view-and-posted-time">
            <span>1.7M Views</span>
            <span class="splitter"></span>
            <span>3 hours ago</span>
        </div>

    </div>
</div>


<div class="suggestion-section">
    <div class="suggestion-thumbnail">
        <img src="../../../assets/Image1.jpg" alt="Image1">
    </div>
    <div class="video-and-channal-info">
        <div class="video-title">New Video</div>
        <div class="channal-name">Tomorrow starts today</div>
        <div class="view-and-posted-time">
            <span>1.7M Views</span>
            <span class="splitter"></span>
            <span>3 hours ago</span>
        </div>

    </div>
</div>