<div class="suggestion-section">
    <div class="suggestion-thumbnail" (mouseover)="displayVideo = true" (mouseleave)="displayVideo = false">
        @if(displayVideo){
            <app-thumbnail-video-player [url]="url" width="185" height="104" ></app-thumbnail-video-player>
        }@else {
            <img src="../../../assets/Image1.jpg" alt="Image1">
        }
        
    </div>
    <div class="video-and-channal-info">
        <div class="video-title">New Video</div>
        <div class="channal-name">Tomorrow starts today</div>
        <div class="view-and-posted-time">
            <span>1.7M Views</span>
            <span class="splitter"></span>
            <span>3 hour    s ago</span>
        </div>

    </div>
</div>