<div class="suggestion-section">
    <div class="suggestion-thumbnail" (click)="watchVideo()" (mouseover)="displayVideoOrThumbnail(true)" (mouseleave)="displayVideoOrThumbnail(false)">
        @if(displayVideo){
            @if(video){
                <app-thumbnail-video-player [url]="video.videoUrl" ></app-thumbnail-video-player>
            }
        }@else {
            <img [src]="video.thumbnailUrl" [alt]="video.title">
        }
    </div>
    <div class="video-and-channal-info">
        <div class="video-title" [title]="video.title">{{video.title}}</div>
        <div class="channal-name">{{video.userDisplayName}}</div>
        <div class="view-and-posted-time">
            <span>{{video.viewCount}}{{video.viewCount == 0 ? ' view' :' views'}}</span>
            <span class="splitter"></span>
            <span>{{video.publishedDateAndTime | timeago}}</span>
        </div>
        <div class="video-desc channal-name" *ngIf="showDescription">
            {{video.description}}
        </div>
    </div>
</div>