<p-confirmDialog key="unsubscriberConfirmation"></p-confirmDialog>


<p-confirmDialog key="shareConfirmation">
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <p>{{ message.message }}</p> 
            <div> {{videoURL}} <p-button icon="pi pi-copy" (click)="copyURL()"></p-button> </div>
        </div>
    </ng-template>

</p-confirmDialog>

<div class="uploaded-user-info">
    <!--Channal logo and Name--> 
    <div class="channal-container">

        <div class="channel-logo-nd-name">
            <!-- <p-avatar [image]="video?.userPicture" styleClass="mr-2 items" shape="circle" size="xlarge"></p-avatar> -->
            <div class="user-avatar-wrapper">
                <img [src]="video.userPicture" alt="User Avatar" class="user-avatar" (error)="onAvatarError()"
                    *ngIf="!avatarError" />
                <div class="user-avatar-fallback" *ngIf="avatarError">
                    {{ getUserInitials(video.userDisplayName) }}
                </div>
            </div>
            <div class="channal-name items">
                 <!--Name and Subs count--> 
               <div class="name">{{video?.userDisplayName}}</div>
               <div class="subscribers-count" *ngIf="subscribersCount == 0">No Subscribers</div>
               <div class="subscribers-count" *ngIf="subscribersCount > 0">{{subscribersCount == 1 ? '1 subscriber' :subscribersCount | indianFormatViewCount:' Subscribers'}}</div>
            </div>
        </div>

       
         <!--Subscribe button--> 
        <div class="subscribe-button">
        
            @if (!subscribed) {
            <p-button [rounded]="true" size="large" label="Subscribe" (click)="subscribe()" styleClass="items"></p-button>
            }
            @else{
            <p-button [rounded]="true" [outlined]="true" label="Subscribed" styleClass="items"
                (click)="unsubscribeConfirmationPopup()"></p-button>
            }
        </div>
    </div>
    <div class="divider-mobile"></div>
    <!--Like and share button-->
    <div class="likes-nd-share-container">
        <span class="engagement-button-group">
            <button class="btn like-button" (click)="likeVideo()" [ngClass]="{ active: isLiked }">
                <i class="pi pi-thumbs-up"></i>
                <span>{{ video?.likes | indianFormatViewCount:'' }}</span>
            </button>
            
            <button class="btn dislike-button" (click)="dislikeVideo()" [ngClass]="{ active: isDisliked }" >
                <i class="pi pi-thumbs-down"></i>
            </button>
        </span>
        <span class="channal-button share-button">
            <!--Share button-->
            <p-button icon="pi pi-share-alt" label="Share" [rounded]="true" size="large" severity="primary" (click)="shareVideoLink()"></p-button>
        </span>
    </div>
    
</div>
