
.uploaded-user-info{
    display: flex;
    align-items: center;
    margin-top: 1em;
    justify-content: space-between;
}

.channal-container{
    display: flex;
    align-items: center;
}


.channal-name{
    margin: 0 16px;
}

.channal-name .name{
    font-size: 1.6rem;
    font-family: var(--app-font-family);
    font-weight: 500;
    color: var(--app-font-color);
}

.channal-name .subscribers-count{
    font-size: 1.2rem;
    font-family: var(--app-font-family);
    font-weight: 400;
    color: var(--app-channal-font-color);
}

.channel-logo-nd-name{
    display: flex;
    align-items: center;
}

.share-button{
    margin-left: 1.6em;
}


.likes-nd-share-container{
    display: flex;
}





  .engagement-button-group {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .btn {
    flex: 1 1 45%;
    min-width: 84px;
    padding: 0.75rem 1rem;
    border: 1px solid var(--app-primary-color);
    border-radius: 2rem;
    background-color: white;
    color: var(--app-primary-color);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .btn i {
    font-size: 1.25rem; /* Increased icon size */
  }
  
  .btn:hover {
    background-color: var(--app-primary-color);
    color: white;
  }

  .like-button span {
    font-weight: bold;
  }

  /* Active (liked) state */
.like-button.active {
    background-color: var(--app-primary-color);
    color: white;
    border-color: var(--app-primary-color);
  }
  
  /* Active (disliked) state */
  .dislike-button.active {
    background-color: var(--app-primary-color);
    color: white;
    border-color: var(--app-primary-color);
  }
  

:host::ng-deep .p-component{
    font-size: 1.4rem;
}

:host::ng-deep .p-toast .p-toast-message.p-toast-message-info{
    background-color: white;
    /* color: #8b5cf6; */
}

:host::ng-deep .p-toast {
    width: 50rem;
    /* color: #8b5cf6; */
}

.divider-mobile{
    display: none;
}

/*Mobile devices*/
@media only screen and (min-width: 320px) and (max-width:480px){

    .btn {
        flex: 1 1 100%;
      }

    .uploaded-user-info{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .likes-nd-share-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.2em
    }

    .channal-container{
        justify-content: space-between;
        width: 100%;
    }

    .channal-name .subscribers-count{
        font-size: 1rem;
    }

    .channal-name .name{
        font-size: 1.35rem;
    }

    :host::ng-deep .p-component{
        font-size: 1.05rem;
    }

    .app-dislike-button{
        height: 3.1em;
        width: 3.1em;
    }
    .engagement-button-group{
        flex-wrap: nowrap;
        width: 30%;
    }

    .divider-mobile{
        display: block;
        width: 100%;
        border-bottom:  1px solid rgba(128, 128, 128, 0.45);
        margin-bottom: 12px;
    }

}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width:1024px){

}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width:1200px){

}

/*Extra large screens, TV*/
@media only screen and (min-width: 1200px) {

}

