<div class="unauth-ui-container">
    <div class="page-icon">
        <i class="material-icons">{{materialIconName}}</i>
    </div>
    <div class="info-text-container">
        <div class="info-text-title">{{infoTextTitle}}</div>
        <span class="info-text-desc">{{infoTextDesc}}</span>
    </div>
    <div class="login-button" *ngIf="!toHome">
        <p-button label="Sign in" (click)="signin()" size="large"/>
    </div>
    <div class="login-button" *ngIf="toHome">
        <p-button label="Home" (click)="navigateToHome()" size="large"/>
    </div>
</div>
