.p-element{
    /* margin-right: 10px; */
    font-size: 1.6rem;
    font-family: var(--app-font-family);
}

:host::ng-deep .video-topics .p-chip-text{
    font-size: 1.6rem;
    font-family: var(--app-font-family);
}

.topics{
    margin-bottom: 10px;
}

.content{
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(var(--app-grid-item-max-width),1fr));
   grid-gap: 2em;
   cursor: pointer;
   padding: 1.6em 0;
}

hr{
    color: var(--app-skeleton-color);
    opacity: 0.7;
}

.topic-skeleton{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px, 1fr));
    column-gap: 0.7em;
}

.chips-wrapper{
    z-index: 100;
    display: flex;
    top:calc(var(--mat-toolbar-standard-height));
    min-height: 40px;
    align-items: center;
    position: sticky;
    background: white;
}

.chip-content{
    max-width: 90vw;
    padding: 0 8px;
}

.scroll-container{
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.topic-skeleton-new{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    line-height: 1.2;
    overflow: hidden;
    height: 50px;
    
}
.chip{
    height: 32px;
    min-width: 12px;
    padding: 0 10px;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    position: relative;
    /* font-family: "Roboto", "Arial", sans-serif; */
    font-size: 1.4rem;
    font-family: var(--app-font-family);
    line-height: 2rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
    background: var(--app-secondary-color);
    /* color: var(--app-primary-color); */
    margin-right: 10px;
}

.chip.active{
    background-color: var(--app-primary-color);
    color: #fff;
}

/*Mobile devices*/
@media only screen and (min-width: 320px) and (max-width:480px){


    .chips-wrapper{
        width: auto;
        justify-content: space-between;
    }
    .chip-content{
        max-width: 84vw;
    }

    .content{
        padding: 8px;
    }
}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width:768px){

}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width:1024px){
    .chip-content{
        max-width: 75.25vw;
    }
}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width:1200px){
    .chip-content{
        max-width: 80vw;
    }
}

/*Extra large screens, TV*/
@media only screen and (min-width: 1200px) {
    .chip-content{
        max-width: 80vw;
    }
}

