<div class="watch-page">
    <div class="video-container">
        <div class="video-player">
            <div class="video-loading-area">
                <app-video-player  [url]="video.videoUrl" [autoplay]="true"></app-video-player>
            </div>
            
            <!--Video Title-->
            <div class="video-title" [title]="video.title">
                {{video.title }}
            </div>
            <app-channel-info [video]="video"></app-channel-info>
            <div class="video-description">
                <div class="description">
                    <div class="video-info">
                        <span class="view-count">{{video.views == 1 ? "1 View" : video.views | indianFormatViewCount:" views":true}}</span> &nbsp; <span class="view-count">{{video.publishedAt | timeago}}</span>
                        &nbsp; <span class="video-tags" *ngFor="let tag of video.tags">#{{tag}} </span>
                    </div>
                    <div class="short-description-container">
                        <div class="container">
                            <p class="show-desc-less" *ngIf="!showMoreDescription" (click)="toggleDescription()">{{video.description}} </p>
                            <p class="show-desc-more" *ngIf="showMoreDescription"> {{video.description}} </p>
                            <div><p-button [label]="!showMoreDescription ? 'Show more..':'Show less..'" size="large" [text]="true" [plain]="true" (click)="toggleDescription()"></p-button></div>
                        </div>
                        </div>
                </div>
                
            </div>
            <div class="comments">
                <div class="add-comment">
                    <app-comment [video]="video" [currentUser]="currentUser"></app-comment>
                </div>
            </div>
        </div>
    </div>
    <div class="suggestion-bar">
        <h2 class="suggest-title">Suggestions</h2>
        <div class="rightside-section" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="getSuggestionVideos()">
            @if(isVideoAvailable){
                <app-suggestion *ngFor="let video of suggestionVideos"  [video]="video"></app-suggestion>
            }@else {
                <app-video-card-skeleton2 *ngFor="let num of [1,2,3,4,5,6]" [myHeight]="120"></app-video-card-skeleton2>
            }
        </div>
    </div>
</div>
