<div class="video-container">
    <vg-player>
        <vg-buffering></vg-buffering>
        <vg-overlay-play></vg-overlay-play>
        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-mute></vg-mute>
        </vg-controls>


        <video [vgMedia]="$any(media)" #media id="singleVideo" class="player" disablepictureinpicture
            (ended)="callMethodOnEnd()" [autoplay]="false">
            <source [src]="url" type="video/mp4">
        </video>
    </vg-player>
</div>