.video-player-wrapper {
    text-align: center;
    height: 100%;
}

  vg-player{
    border-radius: 12px;
    margin-bottom: 1em;
    font-size: 1.6rem;
    font-family: var(--app-font-family);
  }

  :host::ng-deep vg-scrub-bar-current-time .background{
    background-color: var(--primary-400);
  }

  .hide-controls {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }
  vg-controls {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

 
  