.page{
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--app-toolbar-standard-height)  + 4px);
}

.stepper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.2rem auto;
}

.items{
    width: 10%;
}

.main-stepper{
    width: 80%;
}

.page .container{
   width: 95%;
   margin-left: auto;
   margin-right: auto;
}

:host ::ng-deep .p-steps-title{
    font-size: 14px;
}

:host ::ng-deep .p-steps-number{
    font-size: 14px;
}

.overlay-container{
    margin-top: 56px !important;
}

/*Mobile devices*/
@media only screen and (min-width: 320px) and (max-width:480px){

    .page{
        margin-top: calc(var(--app-toolbar-standard-height) - 4px);
    }


    .page .container{
        margin-top: calc(var(--app-toolbar-standard-height));
     }

     :host ::ng-deep .p-steps-title{
        font-size: 12px;
    }
    
    :host ::ng-deep .p-steps-number{
        font-size: 12px;
    }
}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width:768px){

    .page .container{
        margin-top: calc(var(--app-toolbar-standard-height));
     }

     :host ::ng-deep .p-steps-title{
        font-size: 12px;
    }
    
    :host ::ng-deep .p-steps-number{
        font-size: 12px;
    }
}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width:1024px){

}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width:1200px){

}

/*Extra large screens, TV*/
@media only screen and (min-width: 1200px) {

}