<div class="video-card" routerLink="../../watch">
    <div class="image-container" (mouseover)="displayVideoOnOver(true)" (mouseleave)="displayVideoOnOver(false)">
        <app-thumbnail-video-player [url]="video.videoUrl" ></app-thumbnail-video-player>
    </div>
    
    <div>
        <div class="logo-container">
            <p-avatar [image]="video.userDTO.picture" styleClass="mr-2" shape="circle" size="large"></p-avatar>
            <span class="video-title">{{video.title}}</span>
        </div>
        <div class="channal-name-container">
            <div class="small-info-text channal-name">{{video.userDTO.name}}</div>
            <div>
                <span class="small-info-text">{{video.viewCount}}</span>
                <span class="splitter"></span>
                <span class="small-info-text">{{video.publishedAtRelative}}</span>
            </div>
        </div>
    </div>
</div>