<div class="video-card" routerLink="../../watch">
    <div class="thumbnail">
        <img src="../../../assets/Image1.jpg" alt="Image1">
        <div>
            <div class="logo-container">
                <p-avatar image="../../../assets/Image3.jpg" styleClass="mr-2" shape="circle"></p-avatar>
                <span class="video-title">Tiger in jungle</span>
            </div>
            <div class="channal-name-container">
                <div class="small-info-text channal-name">Capture nature</div>
                <div>
                    <span class="small-info-text">1.1M Views</span>
                    <span class="splitter"></span>
                    <span class="small-info-text">1 Month ago</span>
                </div>
            </div>
        </div>
    </div>
</div>