<div class="video-card" (click)="watchVideo()">
    <div class="image-container" (mouseover)="displayVideoOnOver(true)" (mouseleave)="displayVideoOnOver(false)">
        @if(displayVideo){
            <app-thumbnail-video-player [url]="video.videoUrl" ></app-thumbnail-video-player>
        }@else {
            <img [src]="video.thumbnailUrl" [alt]="video.title">
        }
    </div>
    
    <div>
        <div class="logo-container">
            <p-avatar [image]="video.userPicture" styleClass="mr-2" shape="circle" size="large"></p-avatar>
            <span class="video-title">{{video.title}}</span>
        </div>
        <div class="channal-name-container">
            <div class="small-info-text channal-name">{{video.userDisplayName}}</div>
            <div>
                <span class="small-info-text">{{video.viewCount}}{{video.viewCount == 0 ||  video.viewCount == 1 ? ' view' :' views'}}</span>
                <span class="splitter"></span>
                <span class="small-info-text">{{video.publishedDateAndTime | timeago}}</span>
            </div>
        </div>
    </div>
</div>