<div class="file-upload-ui">
    <p-toast styleClass="add-color" sticky=true></p-toast>
    
    <p-fileUpload name="file[]" (uploadHandler)="onUpload($event)" accept="video/*" [maxFileSize]=52428800 [fileLimit]="1"
        [showCancelButton]="showCancel" (onSelect)="onSelectFile()" [customUpload]="true" [previewWidth]="50"
        chooseLabel="Browse" [multiple]="false" removeStyleClass="remove-cancel-button" life="3000">
        <ng-template pTemplate="content">

            <div *ngIf="!isApiUploading">
                <div *ngIf="!fileUploaded" class="file-upload-info">Drop (or) Browse file </div>
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </div>
            

            <app-simple-vertical-animation></app-simple-vertical-animation>
        </ng-template>
    </p-fileUpload>

    <!-- <button (click)="navigateToNext()">Next</button> -->

</div>