<ul class="sidebar-container">
    <li class="item" routerLink="featured" routerLinkActive="active">
        <i class="material-icons">home</i>
        <div class="sidebar-button" >Home</div>
    </li>

    <li class="item" routerLink="shorts" routerLinkActive="active">
        <i class="material-icons">video_collection</i>
        <div class="sidebar-button" >Shorts</div>
    </li>

    <li class="item" routerLink="subscriptions" routerLinkActive="active">
        <i class="material-icons">subscriptions</i>
        <div class="sidebar-button" >Subscriptions</div>
    </li>

    <p-divider></p-divider>

    <li class="item" routerLink="user-profile" routerLinkActive="active">
        <i class="material-icons">account_circle</i>
        <div class="sidebar-button" >You</div>
    </li>

    <li class="item" routerLink="history" routerLinkActive="active">
        <i class="material-icons">history_toggle_off</i>
        <div class="sidebar-button" >History</div>
    </li>
    
</ul>