<div class="show-comment-section">
    <div class="comment-conatiner">
        <div class="user-avatar-wrapper">
            <img [src]="comment.picture" alt="User Avatar" class="user-avatar" (error)="onAvatarError()"
                *ngIf="!avatarError" />
            <div class="user-avatar-fallback" *ngIf="avatarError">
                {{ getUserInitials(comment.username) }}
            </div>
        </div>
        <!-- <p-avatar [image]="comment.picture" styleClass="mr-2 items" shape="circle" size="xlarge"></p-avatar> -->
        <div class="user-and-comment">
            <div class="user-and-posted-time-container">
                <div class="name">{{comment.username}}</div>
                <span class="splitter"></span>
                <div class="name">{{comment.createdAt | timeago}}</div>
            </div>
            <div class="comment">{{comment.text}}</div>
            <div class="comment-button-container">
                <p-button icon="pi pi-thumbs-up" [rounded]="true" badge="{{comment.likes | indianFormatViewCount:'' }}" [outlined]="true" [text]="true" size="large" (click)="likeComment()" styleClass="comment-like-button"></p-button>
                <p-button icon="pi pi-thumbs-down" [rounded]="true"  [outlined]="true"  [text]="true" size="large"(click)="disLikeComment()" styleClass="comment-dislike-button"></p-button>
            </div>
        </div>
    </div>
</div>