<div class="watch-page">
    <div class="video-container">
        <div class="video-player">
            <div class="video-loading-area">
                <app-video-player  [url]="video.videoUrl" [autoplay]="true"></app-video-player>
            </div>
            
            <!--Video Title-->
            <div class="video-title">
                {{video.title }}
            </div>
            <app-channel-info [video]="video"></app-channel-info>
            <div class="video-description">
                <p-inplace styleClass="description" [active]="false" [closable]="true">
                    <ng-template pTemplate="display">
                        <div class="short-description"><p>{{video.description }}</p></div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="isClick"(click)="closeDesc()">{{video.description}} </div>
                    </ng-template>
                </p-inplace>
            </div>
            <div class="comments">
                <div class="add-comment">
                    <app-comment [video]="video"></app-comment>
                </div>
            </div>
        </div>
    </div>
    <div class="suggestion-bar">
        <h2 class="suggest-title">Suggestions</h2>
        <div class="rightside-section">
            <app-suggestion *ngFor="let video of suggestionVideos$ | async"  [video]="video"></app-suggestion>
        </div>
    </div>
</div>
